
			body{
				background-color: #cbf1f5;
			}
			hr{
				border-style: none;
				border-top-style: dotted;
				border-color : #393e46;
				width: 5%;
			    border-width: 5px;
			}
            h1{
                color: #00adb5;
            }
            h3{
                color: #f08a5d;
            }
